
/* Barra de navegaçào vertical */
ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul a {
    border: 1px red solid;
    width: 400px;
    text-decoration: none;
    height: 40px;
    display: block;
    background: url(imagens/menu.png);
}
li {
    padding: 10px 20px;
    
}